* { box-sizing: border-box; }
/*-- Variables --*/
:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --black-color-transparent-200: #00000029;
    --blue-color: #08A6E4;
    --dark-gray-color: #A5A5A5;
    --blue-color-transparent: #07ACE629;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --lynx-white-color: #F7F7F7;
    --light-grayish-blue-color: #E8E9ED;
    --vivid-blue-color: #07ACE6;
    --red-color-transparent-100: #F9043629 ;
    --dark-blue-color: #13253B;
    --pink-color: #EB476E;
    --red-color-transparent-200: #ff0911;
    --gray-color: #95989A;
    --very-dark-gray-color: #707070;
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
}
/*-- Top Section --*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4.375rem;
    margin: 0 auto 8.125rem;
    background-color: var(--white-color);
}
.top-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4.375rem;
    background: var(--white-color);
    box-shadow: 0 0.1875rem 2.5rem var(--black-color-transparent-200);
}
/* -- logo -- */
.top-section__logo {
    width: 8.875rem;
    height: 2.313rem;
    font-family: var(--primary-font), sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: var(--blue-color);
    text-align: left;
    margin-left: 8.5rem;
    margin-right: 8.5rem;
    line-height: 2.313rem;
    display: flex;
    align-items: center;
}
/*-- e: logo --*/
.top-section__nav-list {
    font-family: var(--secondary-font), sans-serif;
    font-weight: 400;
    display: flex;
    gap: 5.938rem;
    padding-right: 8.5rem;
    white-space: nowrap;
}
/*-- nav --*/
.top-section__nav-link {
    color: var(--dark-gray-color);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.205rem;
    font-size: 0.6875rem;
}
.top-section__nav-item:hover .top-section__nav-link {
    color: var(--black-color);
    font-weight: 700;
}
.top-section__nav-item .top-section__nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    width: 5.25rem;
    height: 0.25rem;
    background-color: var(--blue-color);
    opacity: 0;
}
.top-section__nav-item:hover .top-section__nav-link::after {
    opacity: 1;
}
/*-- nav --*/
/*-- e: top section --*/
/*--Header --*/
.header {
    width: 100%;
    height: 37.125rem;
    background-image: url("../images/background.png");
    background-color: var(--white-color);
    background-position: -54.5px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 24.75rem;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 0;
    background-color: transparent;
    color: var(--black-color);
    margin-bottom: 31.25rem;
}
/*-- sell more! --*/
.header__title {
    font-family: var(--primary-font), sans-serif;
    font-weight: 450;
    font-size: 3rem;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
}/*-- e: sell more! --*/
/*-- open shop... --*/
.header__subtitle {
    width: 24em;
    height: 1.375em;
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.25rem;
    margin-bottom: 2.375rem;
}/*-- e: open shop... --*/
/*-- Button --*/
.btn {
    color: var(--white-color);
    text-decoration: none;
}
.btn-container {
    width: 27.5rem;
    height: 4.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    border-radius: 2.5rem;
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 16.875rem;
}
.btn-container .btn:hover {
    background-color: var(--vivid-blue-color);
}/*-- e: button --*/
/*-- e: header --*/
/*-- section2 The most popular sales platform in country --*/
.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 9rem;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 12.5rem;
    height: 15.625rem;
    text-align: center;
    padding-top: 6.25rem;
}
.circle {
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    position: absolute;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.column:nth-child(1) .circle { background-color: var(--red-color); } /*-- left column--*/
.column:nth-child(2) .circle { background-color: var(--blue-color); } /*-- middle column --*/
.column:nth-child(3) .circle { background-color: var(--green-color); } /*-- right column--*/
.column-img {
    position: absolute;
    top: 20%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.column:nth-child(1) .column-img { width: 3.25rem; height: 2.75rem; }
.column:nth-child(2) .column-img { width: 4.0625rem; height: 2.25rem; }
.column:nth-child(3) .column-img { width: 3.25rem; height: 3rem; }
.number {
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--primary-font), sans-serif;
    color: var(--black-color);
    margin-bottom: 0.3125rem;
    z-index: 3;
}
.column p {
    font-size: 0.6875rem;
    margin: 0.125rem 0 0 0;
    line-height: 1.25em;
    color: var(--very-dark-gray-color);
}
.section__container {
    width: 100%;
    height: 531px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.section__title {
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    width: 44.675rem;
    height: 2.625rem;
    white-space: nowrap;
    color: var(--black-color);
    text-align: center;
    margin: 0 0 6.2rem 0;
}
/*-- e: section2 The most popular sales platform in country --*/
/*-- section3 Be always first... --*/
.features__container {
    width: 100%;
    height: 23.125rem;
    display: flex;
    justify-content:center;
    gap: 10.563rem;
}
.features {
    padding-bottom: 105px; }
.feature-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.563rem
}
.features__container2 {
    width: 100%;
    height: 23.125rem;
    display: flex;
    justify-content:center;
    gap: 10.563rem;
}
.feature-row.reverse {
    width: 100%;
    height: 23.125rem;
    display: flex;
    align-items: center;
    gap: 12rem;
}
.feature-row.separated {
    width: 100%;
    height: 23.125rem;
    display: flex;
    align-items: center;
    gap: 11rem;
}
.feature-img-wrapper {
    flex-shrink: 0;
}
.feature-text {
    width: 416px;
    height: 188px;
    text-align: left;
    border: none;
    position: relative;
}
.feature-text.color_red::after,
.feature-text.color_blue::after,
.feature-text.color_green::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 327px;
    height: 4px;
}
.feature-text.color_red::after { background-color: var(--red-color); }
.feature-text.color_blue::after { background-color: var(--blue-color); }
.feature-text.color_green::after { background-color: var(--green-color); }
.feature-text h3 {
    font-family: var(--primary-font), sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: var(--black-color);
    margin: 0 0 1.87rem 0;
}
.feature-text p {
    font-family: var(--secondary-font), sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-color);
    margin: 0;
}
.feature-img {
    width: 24.15rem;
    height: 13.68rem;
}
.feature-img1, .feature-img2, .feature-img3 {
    position: relative;
    display: inline-block;
}
.feature-img1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 210px;
    background-color: #FB3B64;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    border-radius: 41px;
    rotate: 40deg;
}
.feature-img2::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background-color: #07ACE6;
    border-radius: 50%;
    z-index: -1;
}
.feature-img3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 370px;
    background-color: #55DFB4;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    border-radius: 5px;
}
.feature-img3 img {
    transform: translateY(30px);
}
.feature-img1 img {
    transform: translateY(15px);
}
/*-- e: section3 Be always first... --*/
/*-- pricing --*/
.section-container {
    max-width: 1266px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#service .section__title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: Raleway, sans-serif;
    font-size: 2.25rem;
}
.section__column--title {
    font-family: var(--primary-font), sans-serif;
    font-size: 20px;
    color: var(--dark-blue-color);
    font-weight: bold;
}
.section__column:nth-child(2) .section__column--title {
    font-size: 21px;
}
.section__column--subtitle {
    font-family: var(--secondary-font), sans-serif;
    font-size: 14px;
}
.section__columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
}
.section__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 34px;
    border: 1px solid var(--red-color);
    border-radius: 18px;
}
.section__column:nth-child(1) {
    width: 372px;
    height: 461px;
}
.section__column:nth-child(2) {
    width: 405px;
    height: 500px;
    border: 1px solid var(--vivid-blue-color);
}
.section__column:nth-child(3) {
    width: 372px;
    height: 461px;
    border: 1px solid var(--green-color);
}
.section__column .btn  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background-color: var(--red-color);
    width: 150px;
    height: 50px;
    box-shadow: 5px 10px 14px var(--blue-color-transparent);
    margin: 0 auto;
    transform: translatey(25px);
}
.section__column:nth-child(2) .btn {
    background-color: var(--vivid-blue-color);
    width: 165px;
}
.section__column:nth-child(1) .section__column--subtitle:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    color: var(--red-color);
    font-size: 46px;
}
.section__column:nth-child(2) .section__column--subtitle:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    color: var(--vivid-blue-color);
    font-size: 46px;
}
.section__column:nth-child(3) .section__column--subtitle:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    color: var(--green-color);
    font-size: 46px;
}
.section__column:nth-child(2) .section__column--subtitle:nth-child(3),
.section__column:nth-child(3) .section__column--subtitle:nth-child(3) {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.section__column--subtitle.done::before {
    content: '✔';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border: 1px solid var(--green-color);
    border-radius: 2px;
    color: var(--green-color);
    box-sizing: border-box;
}
.section__column--subtitle.cancel::before {
    content: '✖';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid var(--pink-color);
    border-radius: 3px;
    font-size: 9px;
    color: var(--pink-color);
    box-sizing: border-box;
}
/*--  e: pricing --*/
/*-- section4 Any questions? --*/
.contact-columns {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 896px;
    height: 376px;
    margin: 179px auto 0 auto;
}
#contact-form {
    width: 440px;
    height: 372px;
    flex: none;
    border: none;
}
.contact-row {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
#contact .contact-row > .section__title {
    text-align: left;
}
#contact .section__title {
    width: 342px;
    height: 57px;
    font-family: Raleway, sans-serif sans-serif;
    font-size: 49px;
    line-height: 57px;
    margin-top: 0;
    color: var(--black-color);
    letter-spacing: 0;
    margin-bottom: 22px;
}
.section__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--black-color);
    line-height: 22px;
    margin-bottom: 42px;
}
.contact-info-row {
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact-info-row {
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact-row .contact-info-row p {
    color: var(--dark-gray-color);
}
.contact-info-row p:first-child::before,
.contact-info-row p:last-child::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.contact-info-row p:first-child::before { background-image: url('../images/mail_icon.svg'); }
.contact-info-row p:last-child::before { background-image: url('../images/phone_icon.svg'); }
#contact-form .form__input {
    width: 100%;
    height: 57px;
    padding: 8px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--gray-color);
    font-size: 11px;
    outline: none;
    color: var(--blue-color);
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    line-height: 15px;
    text-align: start;
}
#contact-form .form__input:focus { border-bottom: 2px solid var(--blue-color); }
.form__checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.form__checkbox-container input[type="checkbox"] { display: none; }
.form__checkbox-container label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
    flex-shrink: 0;
}
.form__checkbox-container input[type="checkbox"]:checked + label::before {
    background-image: url('../images/checkmark.svg');
    background-size: 12px 11px;
    background-repeat: no-repeat;
    background-position: center;
}
.form__checkbox {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: var(--very-dark-gray-color);
}
.form__checkbox-container label {
    display: flex;
    line-height: 17px;
    text-align: left;
    gap: 10px;
}
#contact-form input[type="submit"][value="Send"] {
    position: static;           /* odstranimo absolute */
    width: 226px;
    height: 57px;
    border: none;
    border-radius: 35px;
    background-color: var(--blue-color);
    color: white;
    box-shadow: 5px 10px 14px var(--blue-color-transparent);
}
.form__button-wrapper {
    display: flex;
    justify-content: flex-end; /* gumb desno */
    margin-top: 15px;           /* razmik od checkboxa */
}
/*-- e: section4 Any questions? --*/
/*-- footer --*/
#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 89px;
    background-color: var(--lynx-white-color);
    box-shadow: 0 -0.3125rem 2.5rem var(--black-color-transparent-200);
}
.footer__columns {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.footer__social-icons {
    position: absolute;
    transform: translateY(140%);
    right: 0;
    display: flex;
    gap: 20px;
    margin-right: 136px;
    align-items: center;
}
.footer__logo {
    width: 115px;
    height: 30px;
    font-family: var(--primary-font), sans-serif;
    font-weight: 300;
    font-size: 1.625rem;
    color: var(--blue-color);
    text-align: left;
    margin-left: 8.5rem;
    margin-top: 20px;
    line-height: 1.875rem;
    display: flex;
    align-items: center;
}
.footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: var(--dark-gray-color);
    margin-left: 137px;
    margin-top: 6px;
    margin-bottom: 17px;
}
/*-- e: footer --*/
#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    background-color: var(--lynx-white-color);
    box-shadow: 0 -0.3125rem 2.5rem var(--black-color-transparent-200);
}
.footer__columns {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.footer__social-icons {
    position: absolute;
    transform: translateY(140%);
    right: 0;
    display: flex;
    gap: 20px;
    margin-right: 136px;
    align-items: center;
}
.footer__logo {
    width: 115px;
    height: 30px;
    font-family: var(--primary-font), sans-serif;
    font-weight: 300;
    font-size: 1.625rem;
    color: var(--blue-color);
    text-align: left;
    margin-left: 8.5rem;
    margin-top: 20px;
    line-height: 1.875rem;
    display: flex;
    align-items: center;
}
.footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: var(--dark-gray-color);
    margin-left: 137px;
    margin-top: 6px;
    margin-bottom: 17px;
}
/*-- e: footer --*/
#footer {
    height: 89px;
    margin: 0 auto;
    background-color: red;
}